body {
    margin: 0;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: monospace;
    padding: 10px;
    z-index: 100;
}

#overlay p {
    margin: 4px 0;
}