<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" sizes="192x192" href="/static/img/logo-icon-192.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
</head>

<body>
    <div id="container">
        <div id="map"></div>

        <div id="settings">
            <h3>Masstrack</h3>
            <p>Locations: <span id="pointsCount">0</span></p>

            <form onsubmit="go(event)">
                <span>Heatmap: </span>
                <input type="checkbox" id="heatmap" /><br>
                <input type="datetime-local" id="start" name="meeting-time" value="2025-06-28T00:00" required /><br>
                <input type="datetime-local" id="end" name="meeting-time" value="{{ .currentTime }}" required />
                <button type="submit">set</button>
            </form>

            <form onsubmit="reset()">
                <button type="submit">reset</button>
            </form>

            <span id="deviceInfo"></span>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>